{% extends "layout.html" %}

{% block title %}
Timeslots Schedule
{% endblock %}

{% block main %}

<h2>Weekly Timeslots Schedule</h2>
{% for timeslots in timeslot_lists %}
<h3>Timeslot Schedule Suggestion {{ loop.index }}</h3>
<div class="table-wrapper">
    <div class="table-container">
        <table>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
            <tr>
                {% for i in range(5) %}
                    <td id="slot-0-{{ i }}">
                        <span style="color: blue">Short Slot</span>
                        {% for timeslot in timeslots %}
                            {% if timeslot.weekday == i and timeslot.length == 0 %}
                                <br></br>
                                {% if timeslot.stage %}
                                <p style="color: red">stage</p>
                                {% endif %}
                                <p>{{ timeslot.song }}</p>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for i in range(5) %}
                    <td id="slot-1-{{ i }}">
                        <span style="color: blue">Medium Slot</span>
                        {% for timeslot in timeslots %}
                            {% if timeslot.weekday == i and timeslot.length == 1 %}
                                <br></br>
                                {% if timeslot.stage %}
                                <p style="color: red">stage</p>
                                {% endif %}
                                <p>{{ timeslot.song }}</p>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for i in range(5) %}
                    <td id="slot-2-{{ i }}">
                        <span style="color: blue">Long Slot</span>
                        {% for timeslot in timeslots %}
                            {% if timeslot.weekday == i and timeslot.length == 2 %}
                                <br></br>
                                {% if timeslot.stage %}
                                <p style="color: red">stage</p>
                                {% endif %}
                                <p>{{ timeslot.song }}</p>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        </table>
        </div>
        <div class="table-container">
        <table>
            <tr>
                <th>Student Name</th>
                <th>Total Rehearsals</th>
            </tr>
            {% for list in student_lists[loop.index0] %}
                <tr>
                    <td>{{ list[0] }}</td>
                    <td>{{ list[1] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endfor %}

{% endblock %}