{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h2>Upload Your Excel Files</h2>
<form action="{{ url_for('view') }}" method="post" enctype="multipart/form-data">
    <label for="songsFile">Song and Acting Information:</label>
    <input type="file" name="songsFile"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
    <br></br>
    <label for="timeslotsFile">Schedule Information:</label>
    <input type="file" name="timeslotsFile"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
    <br></br>
    <label for="maxDays">Max days per week rehearsing for a given student</label>
    <input type="number" name="maxDays">
    <br></br>
    <label for="rehearsalsPerDay">Max rehearsals per day for a given student</label>
    <input type="number" name="rehearsalsPerDay">
    <br></br>
    <label for="iterations">Total tries generating schedule</label>
    <input type="number" name="iterations">
    <br></br>
    <label for="topRecorded">How many schedules you would like to see (< total tries, recommended < 3)</label>
    <input type="number" name="topRecorded">
    <br></br>
    <input type="submit" value="Upload">
</form>

<script>
    document.getElementById('upload-form').addEventListener('submit', function(event) {
        event.preventDefault();
        let fileSongActing = document.getElementById('fileSongActing');
        let fileSchedule = document.getElementById('fileSchedule');
        
        if (fileSongActing.files.length === 0 || fileSchedule.files.length === 0) {
            alert('Please select both files first!');
            return;
        }
        
        alert('Files "' + fileSongActing.files[0].name + '" and "' + fileSchedule.files[0].name + '" uploaded successfully!');
    });
</script>
{% endblock %}